
<div class="content" #contentReference>
  <div class="github-links">
    <a
      href="https://github.com/nestjs/docs.nestjs.com/edit/master/content/microservices/custom-transport.md"
      aria-label="Suggest Edits"
      title="Suggest Edits"
    >
      <i class="fas fa-edit"></i>
    </a>
  </div>
  <h3 id="定制传输器">定制传输器</h3>
<p>Nest 提供了多种 <code>开箱即用</code> 的传输器，以及允许开发者构建新的自定义传输策略的 API。
传输器使您能够使用一个可插入的通信层和一个非常简单的应用程序级消息协议在网络上连接组件(阅读全文<a rel='nofollow' target='_blank' href="https://dev.to/nestjs/integrate-nestjs-with-external-services-using-microservice-transporters-part-1-p3">文章</a>)。</p>
<blockquote class="
info "><strong>Hint</strong> 用 Nest 构建一个微服务并不一定意味着你必须使用 <code>@nestjs/microservices</code> 包。
例如，如果你想与外部服务通信(比如其他用不同语言编写的微服务)，你可能不需要<code>@nestjs/microservice</code>库提供的所有功能。
事实上，如果你不需要那些让你声明式定义订阅者的装饰器(<code>@EventPattern</code> 或 <code>@MessagePattern</code>)，运行一个<a routerLink="/application-context">独立的应用程序</a>和手动维护连接/订阅通道对于大多数用例来说应该已经足够了，并且会为你提供更多的灵活性。
</blockquote>
<p>通过自定义传输器，您可以集成任何消息传递系统/协议(包括谷歌云Pub/Sub、Amazon Kinesis 等)，或者扩展现有的消息传递系统/协议，在其上添加额外的功能(例如，MQTT 的<a rel='nofollow' target='_blank' href="https://github.com/mqttjs/MQTT.js/blob/master/README.md#qos">QoS</a>)。</p>
<blockquote class="
info "><strong>Hint</strong> 为了更好地理解 Nest 微服务是如何工作的，以及如何扩展现有传输器的功能，我们建议阅读<a rel='nofollow' target='_blank' href="https://dev.to/johnbiundo/series/4724">NestJS 微服务在行动</a>和<a rel='nofollow' target='_blank' href="https://dev.to/nestjs/part-1-introduction-and-setup-1a2l">高级 NestJS 微服务</a>系列文章。
</blockquote>
<h4 appAnchor id="创建一个策略"><span>创建一个策略</span></h4>
<p>首先，让我们定义一个表示自定义传输器的类。</p>
<pre><code class="language-typescript">
import &#123; CustomTransportStrategy, Server &#125; from &#39;@nestjs/microservices&#39;;

class GoogleCloudPubSubServer
  extends Server
  implements CustomTransportStrategy
&#123;
  /**
   * This method is triggered when you run &quot;app.listen()&quot;.
   */
  listen(callback: () =&gt; void) &#123;
    callback();
  &#125;

  /**
   * This method is triggered on application shutdown.
   */
  close() &#123;&#125;
&#125;
</code></pre>
<blockquote class="
warning "><strong>Warning</strong> 请注意，我们不会在本章中实现一个功能齐全的谷歌云发布/订阅服务器，因为这需要深入研究传输器特定的技术细节。
</blockquote>
<p>在上面的例子中，我们声明了 <code>GoogleCloudPubSubServer</code> 类，并提供了由 <code>CustomTransportStrategy</code> 接口强制执行的 <code>listen()</code> 和 <code>close()</code> 方法。
此外，我们的类扩展了从 <code>@nestjs/microservices</code> 包导入的 <code>Server</code> 类，它提供了一些有用的方法，例如，Nest运行时用来注册消息处理程序的方法。
或者，如果您想扩展现有传输策略的功能，您可以扩展相应的服务器类，例如， <code>ServerRedis</code> 。
按照惯例，我们为我们的类添加了 <code>&quot;Server&quot;</code> 后缀，因为它将负责订阅消息/事件(并在必要时响应它们)。</p>
<p>有了这些，我们现在可以使用我们的自定义策略，而不是使用内置传输器，如下所示:</p>
<pre><code class="language-typescript">
const app = await NestFactory.createMicroservice&lt;MicroserviceOptions&gt;(
  AppModule,
  &#123;
    strategy: new GoogleCloudPubSubServer(),
  &#125;,
);
</code></pre>
<p>基本上，我们传递的不是带有 <code>transport</code> 和 <code>options</code> 属性的普通传输器选项对象，而是单个属性 <code>strategy</code> ，其值是自定义传输器类的一个实例。</p>
<p>回到我们的 <code>GoogleCloudPubSubServer</code> 类，在真实的应用程序中，我们将建立到我们的消息代理/外部服务的连接，并在 <code>listen()</code> 方法中注册订阅方/监听特定的通道(然后在 <code>close()</code> 方法中删除订阅并关闭连接)，
但由于这需要很好地理解Nest微服务之间是如何通信的，所以我们推荐您阅读以下<a rel='nofollow' target='_blank' href="https://dev.to/nestjs/part-1-introduction-and-setup-1a2l">文章系列</a>.
相反，在本章中，我们将关注 <code>Server</code> 类提供的功能，以及如何利用它们来构建自定义策略。</p>
<p>例如，假设在应用程序的某个地方定义了以下消息处理程序:</p>
<pre><code class="language-typescript">
@MessagePattern(&#39;echo&#39;)
echo(@Payload() data: object) &#123;
  return data;
&#125;
</code></pre>
<p>这个消息处理程序将由Nest运行时自动注册。
使用 <code>Server</code> 类，您可以看到已注册的消息模式，还可以访问并执行分配给它们的实际方法。
为了验证这一点，让我们在调用 <code>callback</code> 函数之前在 <code>listen()</code> 方法中添加一个简单的 <code>console.log</code> :</p>
<pre><code class="language-typescript">
listen(callback: () =&gt; void) &#123;
  console.log(this.messageHandlers);
  callback();
&#125;
</code></pre>
<p>应用程序重新启动后，您将在终端看到以下日志:</p>
<pre><code class="language-typescript">
Map &#123; &#39;echo&#39; =&gt; [AsyncFunction] &#123; isEventHandler: false &#125; &#125;
</code></pre>
<blockquote class="
info "><strong>Hint</strong> 如果我们使用 <code>@EventPattern</code> 装饰器，您将看到相同的输出，但 <code>isEventHandler</code> 属性设置为 <code>true</code> 。
</blockquote>
<p>如您所见， <code>messageHandlers</code> 属性是所有消息(和事件)处理程序的 <code>Map</code> 集合，其中的模式被用作键。
现在，你可以使用一个键(例如， <code>&quot;echo&quot;</code> )来接收对消息处理程序的引用:</p>
<pre><code class="language-typescript">
async listen(callback: () =&gt; void) &#123;
  const echoHandler = this.messageHandlers.get(&#39;echo&#39;);
  console.log(await echoHandler(&#39;Hello world!&#39;));
  callback();
&#125;
</code></pre>
<p>一旦我们执行 <code>echoHandler</code> ，传递一个任意字符串作为参数(<code>&quot;Hello world!&quot;</code>)，我们应该在控制台中看到它:</p>
<pre><code class="language-json">
Hello world!
</code></pre>
<p>这意味着我们的方法处理程序被正确执行。</p>
<h4 appAnchor id="客户端代理"><span>客户端代理</span></h4>
<p>正如我们在第一节中提到的，你不一定需要使用 <code>@nestjs/microservices</code> 包来创建微服务，但是如果你决定这样做，并且你需要集成一个自定义策略，你也需要提供一个 <code>客户端</code> 类。</p>
<blockquote class="
info "><strong>Hint</strong> 同样，实现一个与所有 <code>@nestjs/microservices</code> 特性兼容的全功能客户端类(例如，流媒体)需要很好地理解框架使用的通信技术。
要了解更多信息，请查看这篇<a rel='nofollow' target='_blank' href="https://dev.to/nestjs/part-4-basic-client-component-16f9">文章</a>.
</blockquote>
<p>要与外部服务通信/发出和发布消息(或事件)，你可以使用库特定的SDK包，或实现一个扩展 <code>ClientProxy</code> 的自定义客户端类，如下所示:</p>
<pre><code class="language-typescript">
import &#123; ClientProxy, ReadPacket, WritePacket &#125; from &#39;@nestjs/microservices&#39;;

class GoogleCloudPubSubClient extends ClientProxy &#123;
  async connect(): Promise&lt;any&gt; &#123;&#125;
  async close() &#123;&#125;
  async dispatchEvent(packet: ReadPacket&lt;any&gt;): Promise&lt;any&gt; &#123;&#125;
  publish(
    packet: ReadPacket&lt;any&gt;,
    callback: (packet: WritePacket&lt;any&gt;) =&gt; void,
  ): Function &#123;&#125;
&#125;
</code></pre>
<blockquote class="
warning "><strong>Warning</strong> 请注意，我们不会在本章中实现一个功能齐全的谷歌云发布/订阅客户端，因为这需要深入研究传输器特定的技术细节。
</blockquote>
<p>如你所见， <code>ClientProxy</code> 类需要我们提供几个方法来建立和关闭连接，发布消息( <code>publish</code> )和事件( <code>dispatchEvent</code> )。
注意，如果不需要请求-响应通信样式支持，可以将 <code>publish()</code> 方法保留为空。
同样，如果不需要支持基于事件的通信，请跳过 <code>dispatchEvent()</code> 方法。</p>
<p>为了观察这些方法的执行内容和时间，让我们添加多个 <code>console.log</code> 调用，如下所示:</p>
<pre><code class="language-typescript">
class GoogleCloudPubSubClient extends ClientProxy &#123;
  async connect(): Promise&lt;any&gt; &#123;
    console.log(&#39;connect&#39;);
  &#125;

  async close() &#123;
    console.log(&#39;close&#39;);
  &#125;

  async dispatchEvent(packet: ReadPacket&lt;any&gt;): Promise&lt;any&gt; &#123;
    return console.log(&#39;event to dispatch: &#39;, packet);
  &#125;

  publish(
    packet: ReadPacket&lt;any&gt;,
    callback: (packet: WritePacket&lt;any&gt;) =&gt; void,
  ): Function &#123;
    console.log(&#39;message:&#39;, packet);

    // In a real-world application, the &quot;callback&quot; function should be executed
    // with payload sent back from the responder. Here, we&#39;ll simply simulate (5 seconds delay)
    // that response came through by passing the same &quot;data&quot; as we&#39;ve originally passed in.
    setTimeout(() =&gt; callback(&#123; response: packet.data &#125;), 5000);

    return () =&gt; console.log(&#39;teardown&#39;);
  &#125;
&#125;
</code></pre>
<p>有了这些，让我们创建一个 <code>GoogleCloudPubSubClient</code> 类的实例，并运行 <code>send()</code> 方法(你可能在前面的章节中见过)，订阅返回的可观察流。</p>
<pre><code class="language-typescript">
const googlePubSubClient = new GoogleCloudPubSubClient();
googlePubSubClient
  .send(&#39;pattern&#39;, &#39;Hello world!&#39;)
  .subscribe((response) =&gt; console.log(response));
</code></pre>
<p>现在，您应该在终端中看到以下输出:</p>
<pre><code class="language-typescript">
connect
message: &#123; pattern: &#39;pattern&#39;, data: &#39;Hello world!&#39; &#125;
Hello world! // &lt;-- after 5 seconds
</code></pre>
<p>为了测试我们的&quot;teardown&quot;方法( <code>publish()</code> 方法返回的方法)是否被正确执行，让我们对流应用一个超时操作符，将其设置为2秒，以确保它在 <code>setTimeout</code> 调用 <code>callback</code> 函数之前抛出。</p>
<pre><code class="language-typescript">
const googlePubSubClient = new GoogleCloudPubSubClient();
googlePubSubClient
  .send(&#39;pattern&#39;, &#39;Hello world!&#39;)
  .pipe(timeout(2000))
  .subscribe(
    (response) =&gt; console.log(response),
    (error) =&gt; console.error(error.message),
  );
</code></pre>
<blockquote class="
info "><strong>Hint</strong>  <code>timeout</code> 操作符从 <code>rxjs/operators</code> 包中导入。
</blockquote>
<p>应用 <code>timeout</code> 操作符后，终端输出应该如下所示:</p>
<pre><code class="language-typescript">
connect
message: &#123; pattern: &#39;pattern&#39;, data: &#39;Hello world!&#39; &#125;
teardown // &lt;-- teardown
Timeout has occurred
</code></pre>
<p>要分派事件(而不是发送消息)，使用 <code>emit()</code> 方法:</p>
<pre><code class="language-typescript">
googlePubSubClient.emit(&#39;event&#39;, &#39;Hello world!&#39;);
</code></pre>
<p>这就是你应该在控制台看到的:</p>
<pre><code class="language-typescript">
connect
event to dispatch:  &#123; pattern: &#39;event&#39;, data: &#39;Hello world!&#39; &#125;
</code></pre>
<h4 appAnchor id="消息序列化"><span>消息序列化</span></h4>
<p>如果您需要在客户端添加一些关于响应序列化的自定义逻辑，您可以使用扩展 <code>ClientProxy</code> 类或它的一个子类的自定义类。
为了修改成功的请求，你可以覆盖 <code>serializeResponse</code> 方法，而为了修改通过这个客户端的任何错误，你可以覆盖 <code>serializeError</code> 方法。
要使用这个自定义类，可以使用 <code>customClass</code> 属性将类本身传递给 <code>ClientsModule.register()</code> 方法。
下面是一个自定义 <code>ClientProxy</code> 的例子，它将每个错误序列化为一个 <code>RpcException</code> 。</p>

<span class="filename">
  {{ 'error-handling.proxy' | extension: app2629928adb9aa036f994a2474e5e3770f10b0993.isJsActive }}
<app-tabs #app2629928adb9aa036f994a2474e5e3770f10b0993></app-tabs>
</span><pre><code class="language-typescript">
import &#123; ClientTcp, RpcException &#125; from &#39;@nestjs/microservices&#39;;

class ErrorHandlingProxy extends ClientTCP &#123;
  serializeError(err: Error) &#123;
    return new RpcException(err);
  &#125;
&#125;
</code></pre><p>然后在 <code>ClientsModule</code> 中像这样使用它:</p>

<span class="filename">
  {{ 'app.module' | extension: app2dd2aa80784315e81a47f7f469b794188b3d065d.isJsActive }}
<app-tabs #app2dd2aa80784315e81a47f7f469b794188b3d065d></app-tabs>
</span><pre><code class="language-typescript">
@Module(&#123;
  imports: [
    ClientsModule.register(&#123;
      name: &#39;CustomProxy&#39;,
      customClass: ErrorHandlingProxy,
    &#125;),
  ]
&#125;)
export class AppModule
</code></pre><blockquote class="
info "><strong>hint</strong> 这是传递给 <code>customClass</code> 的类本身，而不是类的实例。
Nest将在底层为你创建实例，并将给 <code>options</code> 属性的任何选项传递给新的 <code>ClientProxy</code> 。
</blockquote>

</div>

