
<div class="content" #contentReference>
  <div class="github-links">
    <a
      href="https://github.com/nestjs/docs.nestjs.com/edit/master/content/microservices/custom-transport.md"
      aria-label="Suggest Edits"
      title="Suggest Edits"
    >
      <i class="fas fa-edit"></i>
    </a>
  </div>
  <h3 id="定制传输器">定制传输器</h3>
<p>Nest 提供了多种“开箱即用”的传输器，以及允许开发者构建新的自定义传输策略的 API。
传输器使您能够使用一个可插入的通信层和一个非常简单的应用程序级消息协议在网络上连接组件(阅读全文<a rel='nofollow' target='_blank' href="https://dev.to/nestjs/integrate-nestjs-with-external-services-using-microservice-transporters-part-1-p3">article</a>)。</p>
<blockquote class="
info "><strong>Hint</strong> 用 Nest 构建一个微服务并不一定意味着你必须使用&#39; @nestjs/microservices &#39;包。
例如，如果你想与外部服务通信(比如其他用不同语言编写的微服务)，你可能不需要&#39; @nestjs/microservice &#39;库提供的所有功能。
事实上，如果你不需要那些让你声明式定义订阅者的装饰器(<code>@EventPattern</code> or <code>@MessagePattern</code>)，运行一个<a routerLink="/application-context">独立的应用程序</a>和手动维护连接/订阅通道对于大多数用例来说应该已经足够了，并且会为你提供更多的灵活性。
</blockquote>
<p>通过自定义传输器，您可以集成任何消息传递系统/协议(包括谷歌 Cloud Pub/Sub、Amazon Kinesis 等)，或者扩展现有的消息传递系统/协议，在其上添加额外的功能(例如，MQTT 的<a rel='nofollow' target='_blank' href="https://github.com/mqttjs/MQTT.js/blob/master/README.md#qos">QoS</a>)。</p>
<blockquote class="
info "><strong>Hint</strong> 为了更好地理解 Nest 微服务是如何工作的，以及如何扩展现有传输器的功能，我们建议阅读<a rel='nofollow' target='_blank' href="https://dev.to/johnbiundo/series/4724">NestJS 微服务在行动</a>和<a rel='nofollow' target='_blank' href="https://dev.to/nestjs/part-1-introduction-and-setup-1a2l">高级 NestJS 微服务</a>系列文章。
</blockquote>
<h4 appAnchor id="创建一个策略"><span>创建一个策略</span></h4>
<p>首先，让我们定义一个表示自定义传输器的类。</p>
<pre><code class="language-typescript">
import &#123; CustomTransportStrategy, Server &#125; from &#39;@nestjs/microservices&#39;;

class GoogleCloudPubSubServer
  extends Server
  implements CustomTransportStrategy
&#123;
  /**
   * This method is triggered when you run &quot;app.listen()&quot;.
   */
  listen(callback: () =&gt; void) &#123;
    callback();
  &#125;

  /**
   * This method is triggered on application shutdown.
   */
  close() &#123;&#125;
&#125;
</code></pre>
<blockquote class="
warning "><strong>Warning</strong> Please, note we won&#39;t be implementing a fully-featured Google Cloud Pub/Sub server in this chapter as this would require diving into transporter specific technical details.
</blockquote>
<p>In our example above, we declared the <code>GoogleCloudPubSubServer</code> class and provided <code>listen()</code> and <code>close()</code> methods enforced by the <code>CustomTransportStrategy</code> interface.
Also, our class extends the <code>Server</code> class imported from the <code>@nestjs/microservices</code> package that provides a few useful methods, for example, methods used by Nest runtime to register message handlers.
Alternatively, in case you want to extend the capabilities of an existing transport strategy, you could extend the corresponding server class, for example, <code>ServerRedis</code>.
Conventionally, we added the <code>&quot;Server&quot;</code> suffix to our class as it will be responsible for subscribing to messages/events (and responding to them, if necessary).</p>
<p>With this in place, we can now use our custom strategy instead of using a built-in transporter, as follows:</p>
<pre><code class="language-typescript">
const app = await NestFactory.createMicroservice&lt;MicroserviceOptions&gt;(
  AppModule,
  &#123;
    strategy: new GoogleCloudPubSubServer(),
  &#125;,
);
</code></pre>
<p>Basically, instead of passing the normal transporter options object with <code>transport</code> and <code>options</code> properties, we pass a single property, <code>strategy</code>, whose value is an instance of our custom transporter class.</p>
<p>Back to our <code>GoogleCloudPubSubServer</code> class, in a real-world application, we would be establishing a connection to our message broker/external service and registering subscribers/listening to specific channels in <code>listen()</code> method (and then removing subscriptions &amp; closing the connection in the <code>close()</code> teardown method),
but since this requires a good understanding of how Nest microservices communicate with each other, we recommend reading this <a rel='nofollow' target='_blank' href="https://dev.to/nestjs/part-1-introduction-and-setup-1a2l">article series</a>.
In this chapter instead, we&#39;ll focus on the capabilities the <code>Server</code> class provides and how you can leverage them to build custom strategies.</p>
<p>For example, let&#39;s say that somewhere in our application, the following message handler is defined:</p>
<pre><code class="language-typescript">
@MessagePattern(&#39;echo&#39;)
echo(@Payload() data: object) &#123;
  return data;
&#125;
</code></pre>
<p>This message handler will be automatically registered by Nest runtime.
With <code>Server</code> class, you can see what message patterns have been registered and also, access and execute the actual methods that were assigned to them.
To test this out, let&#39;s add a simple <code>console.log</code> inside <code>listen()</code> method before <code>callback</code> function is called:</p>
<pre><code class="language-typescript">
listen(callback: () =&gt; void) &#123;
  console.log(this.messageHandlers);
  callback();
&#125;
</code></pre>
<p>After your application restarts, you&#39;ll see the following log in your terminal:</p>
<pre><code class="language-typescript">
Map &#123; &#39;echo&#39; =&gt; [AsyncFunction] &#123; isEventHandler: false &#125; &#125;
</code></pre>
<blockquote class="
info "><strong>Hint</strong> If we used the <code>@EventPattern</code> decorator, you would see the same output, but with the <code>isEventHandler</code> property set to <code>true</code>.
</blockquote>
<p>As you can see, the <code>messageHandlers</code> property is a <code>Map</code> collection of all message (and event) handlers, in which patterns are being used as keys.
Now, you can use a key (for example, <code>&quot;echo&quot;</code>) to receive a reference to the message handler:</p>
<pre><code class="language-typescript">
async listen(callback: () =&gt; void) &#123;
  const echoHandler = this.messageHandlers.get(&#39;echo&#39;);
  console.log(await echoHandler(&#39;Hello world!&#39;));
  callback();
&#125;
</code></pre>
<p>Once we execute the <code>echoHandler</code> passing an arbitrary string as an argument (<code>&quot;Hello world!&quot;</code> here), we should see it in the console:</p>
<pre><code class="language-json">
Hello world!
</code></pre>
<p>Which means that our method handler was properly executed.</p>
<h4 appAnchor id="客户端代理"><span>客户端代理</span></h4>
<p>正如我们在第一节中提到的，你不一定需要使用&#39; @nestjs/microservices &#39;包来创建微服务，但是如果你决定这样做，并且你需要集成一个自定义策略，你也需要提供一个“客户端”类。</p>
<blockquote class="
info "><strong>Hint</strong> Again, implementing a fully-featured client class compatible with all <code>@nestjs/microservices</code> features (e.g., streaming) requires a good understading of communication techniques used by the framework.
To learn more, check out this <a rel='nofollow' target='_blank' href="https://dev.to/nestjs/part-4-basic-client-component-16f9">article</a>.
</blockquote>
<p>To communicate with an external service/emit &amp; publish messages (or events) you can either use a library-specific SDK package, or implement a custom client class that extends the <code>ClientProxy</code>, as follows:</p>
<pre><code class="language-typescript">
import &#123; ClientProxy, ReadPacket, WritePacket &#125; from &#39;@nestjs/microservices&#39;;

class GoogleCloudPubSubClient extends ClientProxy &#123;
  async connect(): Promise&lt;any&gt; &#123;&#125;
  async close() &#123;&#125;
  async dispatchEvent(packet: ReadPacket&lt;any&gt;): Promise&lt;any&gt; &#123;&#125;
  publish(
    packet: ReadPacket&lt;any&gt;,
    callback: (packet: WritePacket&lt;any&gt;) =&gt; void,
  ): Function &#123;&#125;
&#125;
</code></pre>
<blockquote class="
warning "><strong>Warning</strong> Please, note we won&#39;t be implementing a fully-featured Google Cloud Pub/Sub client in this chapter as this would require diving into transporter specific technical details.
</blockquote>
<p>As you can see, <code>ClientProxy</code> class requires us to provide several methods for establishing &amp; closing the connection and publishing messages (<code>publish</code>) and events (<code>dispatchEvent</code>).
Note, if you don&#39;t need a request-response communication style support, you can leave the <code>publish()</code> method empty.
Likewise, if you don&#39;t need to support event-based communication, skip the <code>dispatchEvent()</code> method.</p>
<p>To observe what and when those methods are executed, let&#39;s add multiple <code>console.log</code> calls, as follows:</p>
<pre><code class="language-typescript">
class GoogleCloudPubSubClient extends ClientProxy &#123;
  async connect(): Promise&lt;any&gt; &#123;
    console.log(&#39;connect&#39;);
  &#125;

  async close() &#123;
    console.log(&#39;close&#39;);
  &#125;

  async dispatchEvent(packet: ReadPacket&lt;any&gt;): Promise&lt;any&gt; &#123;
    return console.log(&#39;event to dispatch: &#39;, packet);
  &#125;

  publish(
    packet: ReadPacket&lt;any&gt;,
    callback: (packet: WritePacket&lt;any&gt;) =&gt; void,
  ): Function &#123;
    console.log(&#39;message:&#39;, packet);

    // In a real-world application, the &quot;callback&quot; function should be executed
    // with payload sent back from the responder. Here, we&#39;ll simply simulate (5 seconds delay)
    // that response came through by passing the same &quot;data&quot; as we&#39;ve originally passed in.
    setTimeout(() =&gt; callback(&#123; response: packet.data &#125;), 5000);

    return () =&gt; console.log(&#39;teardown&#39;);
  &#125;
&#125;
</code></pre>
<p>With this in place, let&#39;s create an instance of <code>GoogleCloudPubSubClient</code> class and run the <code>send()</code> method (which you might have seen in earlier chapters), subscribing to the returned observable stream.</p>
<pre><code class="language-typescript">
const googlePubSubClient = new GoogleCloudPubSubClient();
googlePubSubClient
  .send(&#39;pattern&#39;, &#39;Hello world!&#39;)
  .subscribe((response) =&gt; console.log(response));
</code></pre>
<p>Now, you should see the following output in your terminal:</p>
<pre><code class="language-typescript">
connect
message: &#123; pattern: &#39;pattern&#39;, data: &#39;Hello world!&#39; &#125;
Hello world! // &lt;-- after 5 seconds
</code></pre>
<p>To test if our &quot;teardown&quot; method (which our <code>publish()</code> method returns) is properly executed, let&#39;s apply a timeout operator to our stream, setting it to 2 seconds to make sure it throws earlier then our <code>setTimeout</code> calls the <code>callback</code> function.</p>
<pre><code class="language-typescript">
const googlePubSubClient = new GoogleCloudPubSubClient();
googlePubSubClient
  .send(&#39;pattern&#39;, &#39;Hello world!&#39;)
  .pipe(timeout(2000))
  .subscribe(
    (response) =&gt; console.log(response),
    (error) =&gt; console.error(error.message),
  );
</code></pre>
<blockquote class="
info "><strong>Hint</strong> The <code>timeout</code> operator is imported from the <code>rxjs/operators</code> package.
</blockquote>
<p>With <code>timeout</code> operator applied, your terminal output should look as follows:</p>
<pre><code class="language-typescript">
connect
message: &#123; pattern: &#39;pattern&#39;, data: &#39;Hello world!&#39; &#125;
teardown // &lt;-- teardown
Timeout has occurred
</code></pre>
<p>To dispatch an event (instead of sending a message), use the <code>emit()</code> method:</p>
<pre><code class="language-typescript">
googlePubSubClient.emit(&#39;event&#39;, &#39;Hello world!&#39;);
</code></pre>
<p>And that&#39;s what you should see in the console:</p>
<pre><code class="language-typescript">
connect
event to dispatch:  &#123; pattern: &#39;event&#39;, data: &#39;Hello world!&#39; &#125;
</code></pre>
<h4 appAnchor id="消息序列化"><span>消息序列化</span></h4>
<p>If you need to add some custom logic around the serialization of responses on the client side, you can use a custom class that extends the <code>ClientProxy</code> class or one of its child classes.
For modifying successful requests you can override the <code>serializeResponse</code> method, and for modifying any errors that go through this client you can override the <code>serializeError</code> method.
To make use of this custom class, you can pass the class itself to the <code>ClientsModule.register()</code> method using the <code>customClass</code> property.
Below is an example of a custom <code>ClientProxy</code> that serializes each error into an <code>RpcException</code>.</p>

<span class="filename">
  {{ 'error-handling.proxy' | extension: appd646451e25666cc5268e048df2e420f43ddb2b7c.isJsActive }}
<app-tabs #appd646451e25666cc5268e048df2e420f43ddb2b7c></app-tabs>
</span><pre><code class="language-typescript">
import &#123; ClientTcp, RpcException &#125; from &#39;@nestjs/microservices&#39;;

class ErrorHandlingProxy extends ClientTCP &#123;
  serializeError(err: Error) &#123;
    return new RpcException(err);
  &#125;
&#125;
</code></pre><p>and then use it in the <code>ClientsModule</code> like so:</p>

<span class="filename">
  {{ 'app.module' | extension: appa3a6c86facbf3019e4d9ede738db9c801555b8f3.isJsActive }}
<app-tabs #appa3a6c86facbf3019e4d9ede738db9c801555b8f3></app-tabs>
</span><pre><code class="language-typescript">
@Module(&#123;
  imports: [
    ClientsModule.register(&#123;
      name: &#39;CustomProxy&#39;,
      customClass: ErrorHandlingProxy,
    &#125;),
  ]
&#125;)
export class AppModule
</code></pre><blockquote class="
info "><strong>hint</strong> This is the class itself being passed to <code>customClass</code>, not an instance of the class.
Nest will create the instance under the hood for you, and will pass any options given to the <code>options</code> property to the new <code>ClientProxy</code>.
</blockquote>

</div>

